# Base
numpy>=1.22.0
opencv-python>=4.6.0
Pillow>=9.0.0

# gRPC
grpcio>=1.50.0
grpcio-tools>=1.50.0
protobuf>=3.20.0

# Database
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.5

# Face recognition and embedding
insightface>=0.6.0
onnxruntime>=1.13.0

# Miscellaneous
python-dotenv>=0.20.0